@import "~assets/sass/variables";
@import "~assets/sass/mixins";

.loading-shade {
  bottom: 14px;
  top: 0;
  left: -15px;
  right: -15px;
}

.row .mat-card {
  min-height: 150px;
}



