<div class="row">
  <div class="col-md-8">
   <h2>This is my details page</h2>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dignissimos dolore eos facilis impedit inventore libero maiores pariatur suscipit veniam voluptas, voluptatibus. Aut laudantium molestias natus quam voluptatum. A, non!</span><span>Ab, accusantium corporis cumque delectus dicta distinctio eius est facere facilis fugiat harum hic laudantium minima molestias nulla obcaecati, reiciendis voluptatibus! Assumenda consequuntur explicabo obcaecati quia! Est fuga molestias veritatis!</span></p>
  </div>
  <div class="col-md-4">
    <ul>
      <li>Sample 1</li>
      <li>Sample 2</li>
      <li>Sample 3</li>
      <li>Sample 4</li>
      <li>Sample 5</li>
      <li>Sample 6</li>
    </ul>
  </div>
</div>
