
/**
BASE COLORS
 */
$yellow: #DF0;
$green: #00be08;
$red: #f00;

$grey-10: rgb(242, 242, 242);
$grey-30: rgb(173, 173, 173);
$grey-50: rgb(132, 132, 132);
$grey-70: rgb(64, 64, 64);

$white: #fff;
$black: #000;

