@import "~assets/sass/variables/colors";

.navbar{
  background: $grey-50;
  min-height: 40px;
  color: white;
  a{
    padding:20px;
    display: inline-block;
    color: white;
    padding-right:0;
  }
  label{
    display: inline-block;
    padding: 20px;
    input{
      margin-right:10px;
    }
  }
}
