

<div class="page-content">
  <div class="row">
    <div class="col-md-12">
      <h1>Dashboard site</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nemo nesciunt sequi tempore voluptates. Cumque ea eos, fugit quae quod saepe sequi tenetur vitae. Debitis minima nihil placeat quibusdam ratione.</p>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-4">
      <h2>Subitem</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi dolor error ipsa itaque nobis quisquam reiciendis soluta ullam veritatis.</p>
    </div>
    <div class="col-md-4">
      <h2>Subitem</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi dolor error ipsa itaque nobis quisquam reiciendis soluta ullam veritatis.</p>
    </div>
    <div class="col-md-4">
      <h2>Subitem</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi dolor error ipsa itaque nobis quisquam reiciendis soluta ullam veritatis.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Subitem</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi dolor error ipsa itaque nobis quisquam reiciendis soluta ullam veritatis.</p>
    </div>

    <div class="col-md-4">
      <h2>Subitem</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi dolor error ipsa itaque nobis quisquam reiciendis soluta ullam veritatis.</p>
    </div>
  </div>
</div>
