<div id="subfooter">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row-flex">
          <div class="col-md-3" >
            <a href="" target="_blank" >Title 1</a>
          </div>
          <div class="col-md-3" >
            <a href="" target="_blank" >Title 2</a>
          </div>
          <div class="col-md-3" >
            <a href="" target="_blank" >Title 3</a>
          </div>
          <div class="col-md-3" >
            <a href="" target="_blank" >Title 4</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">

      </div>
    </div>
  </div>
</div>

<div id="footer" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        &copy; 2017 All Copyright reserved
      </div>
      <div class="col-md-6 text-right">
        Created by: <strong>John Doe</strong>
      </div>
    </div>
  </div>
</div>

