

.row{
  margin-left:-22px;
  margin-right: -22px;
}

.table-row{
  padding:0 5px;
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
  //margin-left:-15px;
  //margin-right: -15px;

  > div[class*='col-'], .col-flex {
    padding-left: 7px;
    padding-right: 8px;
    display: flex;
  }
}

.row-table {
  display:table;
  width:100%;
  .table-cell {
    display:table-cell;
    vertical-align: top;
  }
}

.flex{
  flex: 1;
  &.flex-2{
    flex: 2;
  }
}

@media (max-width: $screen-md-min){
  .row-flex {
    display: block;
    div [class *= 'col-' ], .col-flex {
      display: block;
    }
  }
}
