
.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.container{
  position: relative;
}

app-root{
  min-height: calc(100vh - 30px);
  display: block;
}

