body {
  color: $grey;
  font-family:  'Open Sans', "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

h1{
  font-weight: 300;
}

h2{
  font-weight: 300;
  line-height: 30px;
}

a {
  color: $blue;
  cursor: pointer;
  @include transition(all, ease-in, 0.3s);
  &:hover {
    color: $cyan;
  }
}
