
//---------------COLOR THEME-----------------
$wintra-brand: (
  50: #ffffff,
  100: #dde6f3,
  200: #9edce4,
  400: #137191,
  500: #125C78,
  900: #172C37,
  A200: #dde6f3,
  A400: #1C95E4,
  C100: #00A5AE,
  G050: #f0f0f0,
  G100: #e8e8e8,
  G500: #868686,
  G600: #666666,
  G800: rgba(0,0,0, 0.8),
  Y100: #fdb800,
  GR10: #00be08,
  R100: #f00,
  contrast: (
    50:  rgba(0,0,0, 0.05),
    100: rgba(0,0,0, 0.1),
    200: rgba(0,0,0, 0.2),
    300: rgba(0,0,0, 0.3),
    400: rgba(0,0,0, 0.4),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(0,0,0, 0.15),
    A200: rgba(0,0,0, 0.20),
    A400: rgba(0,0,0, 0.30),
    A700: white,
  )
);

$primary-mat: mat-palette($wintra-brand, 500);
$accent-mat:  mat-palette($wintra-brand, 500, A200, A400);
$warn-mat:    mat-palette($wintra-brand, 500);

$blue-dark:    map-get($wintra-brand, 900);
$blue:         map-get($wintra-brand, 500);
$blue-2:       map-get($wintra-brand, A400);
$blue-light-1: map-get($wintra-brand, 200);

$cyan: map-get($wintra-brand, C100);

$yellow: map-get($wintra-brand, Y100);
$green: map-get($wintra-brand, GR10);
$red: map-get($wintra-brand, R100);

$grey-light-1: map-get($wintra-brand, G050);
$grey-light-2: map-get($wintra-brand, G100);
$grey-1:         map-get($wintra-brand, G500);
$grey-2:         map-get($wintra-brand, G600);

$grey-dark-1: map-get($wintra-brand, G800);

$primary:     $blue;
$link:        $blue;
$font-color: rgba(0,0,0, 0.87);
$link-hover:  map-get($wintra-brand, A400);

//---------------SCREEN SIZES-----------------
// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
